<div class="header"><%= t('main.header') %></div>
<p style="text-align:justify">
<span class="news-text">
<%= t('main.text').html_safe %>
</span>
</p>
<p class="break" />

<%= render :partial => 'shared/fix' %>
