<!--% title t('pages.project.title') % >
< %# url "/project" %-->

<div class="header"><%= t('pages.project.header') %></div>
<p class="break" style="text-align:justify" />
<br />
<span class="news-text">
<%= t('pages.project.text').html_safe  %>
</span>

<%= render :partial => 'shared/fix' %>
