<% title 'TODO' %>
<% url "/news" %>

<div class="header">TODO</div>
<p class="break" style="text-align:justify" />
<br />
<span class="news-text">
TODO
</span>

<%= render :partial => 'shared/fix' %>
